<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"> <!-- Link to your CSS -->
    <link rel="stylesheet" href="/css/portfolio.css"> <!-- Link to portfolio CSS -->
    <link rel="stylesheet" href="/css/chat-popup.css"> <!-- Link to portfolio CSS -->
    <title><%= title %></title>
    <script src="/js/script.js"></script>
</head>

<body>
    

    <!-- Welcome Section -->
    <%- include('partials/header') %> <!-- Include the header -->
<section class="welcome-section">
  
    <div class="welcome-text">
      
        <div class="carousel-item active">
            <img src="/images/sale-5.png" style="width: 100vw; height: 100%; object-fit: cover; filter: brightness(0.5);">
            <div class="carousel-container">
                <h1 class="title">Welcome To Kite LLC</h1>
                <p class="description">Kite LLC is an  IT solution provider based in Dubai.</p>
            </div>
        </div>

        
    <div class="container" id="sec-1" class="section-scroll-down">
      <a href="#sec-2">
        <div class="scroll-down"></div>
      </a>
    </div>
    
</section>


<section class="mission-section" id="missionSection">
  <div class="mission-image">
      <img src="/images/about.png" alt="Mission Image">
  </div>
  <div class="mission-content">
      <span class="mission-label"><a href="/about">About Us</a></span>
      <h2 class="mission-text">
        Kite LLC provides IT and digital solutions that leverage technology to enhance business operations. Our services include custom software development, integrated system design, on-site technical support, and digital content management. We focus on creating tailored solutions to meet diverse business needs.
      </h2>
  </div>
</section>

      

   


<section class="vision-mission-section">
  <div class="vision-mission-card">
    <h3>Our Vision</h3>
    <p>Unlocking technology potential to help organizations innovate, deliver superior
       customer experience, and perform better.</p>
    <div class="border-icon icon-1">
      <i class="fa-regular fa-eye"></i><!-- Vision Icon -->
    </div>
  </div>

  <div class="vision-mission-card">
    <h3>Our Mission</h3>
    <p>Deliver innovative IT solutions, business services, talent development, and 
      entrepreneurship support, driving growth, efficiency, and value.</p>
    <div class="border-icon icon-2">
    <i class="fa-solid fa-bullseye"></i> <!-- Mission Icon -->
    </div>
  </div>

  <div class="vision-mission-card">
    <h3>Our Values</h3>
    <p>Committed to excellence, innovation, accountability, and building a collaborative, 
      respectful environment that empowers clients and team members.</p>
    <div class="border-icon icon-3">
     <i class="fa-solid fa-diamond"></i><!-- Icon for the additional card -->
    </div>
  </div>
</section>


<section class="value">
  <section id="vision" class="section4 center-aligned">
      <h2 class="title1">Our Services</h2> <!-- Title at the top center -->
      <div class="content">
          <div class="imagess">
              <img src="/images/software.png" alt="Vision Image">
          </div>
          <div class="textss">
            <h3 class="h22">IT and Digital Solutions</h3>
              <ul class="li">
                  <li>These services enhance business operations through technology 
                    by developing and managing IT systems and digital content. Key 
                    offerings include custom software and website design, integrated
                     computer system planning, on-site technical support, and the 
                     creation of multimedia and online content.</li>
                  
              </ul>
              
          </div>
          
      </div>
  </section>
</section>
    


 <!-- Portfolio Section -->
    <section id="portfolio-section" class="portfolio-section">
      <%- include('portfolio') %> <!-- Include the portfolio -->
    </section>
    <section class="clients-section">
  <h2>Satisfied Clients</h2>
  <div class="clients-logos">
    <div class="client-logo bits">
      <img src="/images/bits.jpg" alt="Client 1" />
    </div>
    
    <div class="client-logo serianu">
      <img src="/images/serianu.jpg" alt="Client 3" />
    </div>
    <div class="client-logo">
      <img src="/images/disaster.jpg" alt="Client 4" />
    </div>
    <div class="client-logo">
     <img src="/images/construction.jpg" alt="Client 5" />
    </div>
  </div>
</section>
<section id="popup" class="popup">
        <%- include('chat-popup') %> <!-- Include the portfolio -->
    </section>
<!-- Footer Include -->
<%- include('partials/footer') %>
    
</body>

</html>
